'.source.stan':
  'For':
    'prefix': 'for'
    'body': '''
    for (${1:var} in ${2:start}:${3:end}) {
      $0
    }
    '''
  'If':
    'prefix': 'if'
    'body': '''
    if (${1:condition}) {
      $0
    }
    '''
  'Else If':
    'prefix': 'ei'
    'body': '''
    else  if (${1:condition}) {
      $0
    }
    '''
  'Lower':
    'prefix': "<lower"
    'body': '<lower = ${1:expression}>$0'
  'Upper':
    'prefix': "<upper"
    'content': '<upper = ${1:expression}>$0'
  'Lower/Upper':
    'prefix': '<lu'
    'content': '<lower = ${1:expression}, upper = ${2:expression}>$0'
  'While':
    'prefix': 'while'
    'content': '''
    while (${1:condition}) {
      $0
    }
    '''
  'Transformed Parameters':
    'prefix': 'tpar'
    'body': '''
    transformed parameters {
      $0
    }
    '''
  'Data':
    'prefix': 'data'
    'body': '''
    data {
      $0
    }
    '''
  'Transformed Data':
    'prefix': 'tdata'
    'body': '''
    transformed data {
      $0
    }
    '''
  'Generated Quantities':
    'prefix': 'gen'
    'body': '''
    generated quantities {
      $0
    }
    '''
  'Model':
    'prefix': 'mdl'
    'body': '''
    model {
      $0
    }
    '''
  'ODE':
    'prefix': 'ode'
    'body': 'integrate_ode(${1:function}, ${2:y0}, ${3:t0}, ${4:t}, ${5:theta}, ${6:x_r}, ${7:x_i});$0'
  'Function block':
    'prefix': 'funs'
    'body': '''
    functions {
      $0
    }
    '''
  'Function declaration':
    'prefix': 'fun'
    'body': '''
    ${1:return} ${2:name} (${3:args}) {
      $0
    }
    '''
